* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.main-div {
    border: 3px solid;
    width: 90%;
    height: 400px;
    margin: auto;
    justify-content: space-between;
}

.row {
    display: flex;
    margin-bottom: 10px;
    margin-top: 23px;
    margin-left: 5px;
    margin-right: 5px;
}

.column {
    flex: 1;
    padding: 47px;
    border: 2px solid #ccc;
    text-align: center;
    margin-right: 10px;
    border-radius: 6px;
    background-image: url(https://imgs.search.brave.com/b3FJT71o4OhNd4KgpvUJfL02eZyoNcvgXSwFuUtC6jQ/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA1LzE4LzMyLzk0/LzM2MF9GXzUxODMy/OTQ2NF9FOWZudk1D/anB4U0UxT281M0g3/ZW16WVBqb2MyRXZp/Yy5qcGc);
    box-shadow: 10px 10px 5px #e45555;
}